{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <title>{% block title %} Новости со всего мира {% endblock title %}</title>
  </head>

  <body>
  {% include 'inc/_nav.html' %}

<div class="container mt-3">
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col-md-3">
      {% block sidebar %} Sidebar{% endblock sidebar %}
    </div>
    <div class="col-md-9">
      {% block content %} Content {% endblock content %}

      <nav aria-label="...">
        <ul class="pagination">
          {% for p in page_obj.paginator.page_range %}

          {% if p == page_obj.number %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
              </li>
          {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
              <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>

    </div>

  </div>
</div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>